
<app-navbar></app-navbar>
<div class="container container-default">
    <router-outlet></router-outlet>
</div>
<!--
<app-author-page></app-author-page>
<app-course-page></app-course-page>
<app-employee-page></app-employee-page>
</div>
<button class="btn btn-danger">Test Button</button><br>

<p>{{employee.name}}</p>
<p [textContent]="employee.name"></p>
<p [hidden]="employee.active">{{employee.salary}}</p>
<p [style.background-color]="employee.active?'blue':'red'"[style.color]="employee.active?'white':'black'">{{employee.name}}</p>
<p [ngStyle]="{'background-color':employee.active?'blue':'red', 
'color':employee.active?'white':'black'}">{{employee.salary}}</p>

<p [ngClass]="{'active':employee.active,'inactive':!employee.active}">{{employee.salary}}</p>

<form>
Enter salary:<input type="text" [(ngModel)]="employee.salary"><br><br>
Entered salary:{{employee.salary}}
</form>

-->
<!-- <p #titlepara>{{title}}</p>
<p>{{titlepara.textContent}}</p>
<p [attr.abc]="title"></p>
<button type="button" (click)=sendcontent(titlepara.textContent)>Submit</button> 

<app-box [content]="'box 1'" [cssClass]="'red'" (clickbox)="handleboxclickevent($event)"></app-box>

<app-box [content]="'box 2'" [cssClass]="'blue'" (clickbox)="handleboxclickevent($event)"></app-box>

<app-box [content]="'box 3'" [cssClass]="'red'" (clickbox)="handleboxclickevent($event)"></app-box>

<app-box></app-box>
-->
